header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header > div.navigator > a{
  text-decoration: none;
  color: black;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid black;
}

header > div.navigator > a:hover{
  background-color: pink;
}

body.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-color: aquamarine;
  justify-content: space-between;
  background-image: url(../assets/bg.jpg);
}

section.section-body {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: blue;
  padding: 30px;
  border-radius: 20px;
}

section.section-body > form {
  padding-left: 40px;
  padding-top: 40px;
}

section.section-body > img {
  width: 500px;
}

button {
  display: block;
}

footer {
  width: 40%;
  min-width: 300px;
  height: 10%;
  border-radius: 20px;
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  section.section-body {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  section.section-body > img {
    width: 100%;
  }
}
